services:
  technitium:
    container_name: technitium
    hostname: technitium
    image: technitium/dns-server:latest
    ports:
      - "5380:5380/tcp"
      - "53:53/udp"
      - "53:53/tcp"
    volumes:
      - config:/etc/dns/
    restart: unless-stopped

  caddy:
    image: caddy:latest
    container_name: caddy
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
      - /var/log/caddy:/var/log/caddy
    environment:
      - TZ=Asia/Bangkok

volumes:
  caddy_data:
  caddy_config:
  config:

networks:
  default:
    external:
      name: wearesame