stages:
  - test
  - build
  - deploy

variables:
  IMAGE_NAME: 192.168.20.250:5000/myapp:latest

test:
  stage: test
  script: 
    - echo "eiei"

build:
  stage: build
  script:
    - echo $CI_REGISTRY_PASSWORD | docker login http://192.168.20.250:5000 -u $CI_REGISTRY_USER --password-stdin
    - docker build -t $IMAGE_NAME .
    - docker push $IMAGE_NAME

deploy: 
  stage: deploy 
  before_script:
    - mkdir -p ~/.ssh
    - echo "$SSH_PRIVATE_KEY" | base64 -d > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -H $PROD_HOST >> ~/.ssh/known_hosts
    
  script:
    - echo "Deploying ..."
    - scp -i ~/.ssh/id_rsa -r ./ $PROD_USER@$PROD_HOST:~/project
    - ssh -i ~/.ssh/id_rsa $PROD_USER@$PROD_HOST "
        cd ~/project &&
        docker-compose down -v --rmi all &&
        docker system prune -af &&
        docker volume prune -f &&
        docker-compose pull &&
        docker-compose up -d --build
      "