stages:
  - build
  - deploy_staging
  - deploy_prod

variables:
  IMAGE_NAME: "nuxt-app"

# ------------------------------- 
# BUILD & PUSH IMAGE
# -------------------------------
build_image:
  stage: build  
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u "$CI_REGISTRY_USER" --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:staging -t $CI_REGISTRY_IMAGE:prod .
    - docker push $CI_REGISTRY_IMAGE:staging
    - docker push $CI_REGISTRY_IMAGE:prod 
  only:
    - main 

# ------------------------------- 
# DEPLOY TO STAGING
# -------------------------------
deploy_staging:
  stage: deploy_staging
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client docker-cli
  script:
    - echo "$SSH_PRIVATE_KEY_STAGING" > id_rsa
    - chmod 600 id_rsa
    - ssh -o StrictHostKeyChecking=no -i id_rsa $SSH_USER_STAGING@$SSH_HOST_STAGING "
        docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_URL
        docker pull $REGISTRY_URL/$IMAGE_NAME:staging

        cd /apps/source_code
        docker compose -f docker-compose.staging.yml down
        docker compose -f docker-compose.staging.yml up -d
      "
  only:
    - main

# -------------------------------
# DEPLOY TO PRODUCTION
# -------------------------------
deploy_prod:
  stage: deploy_prod
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh-client docker-cli
  script:
    - echo "$SSH_PRIVATE_KEY_PROD" > id_rsa
    - chmod 600 id_rsa
    - ssh -o StrictHostKeyChecking=no -i id_rsa $SSH_USER_PROD@$SSH_HOST_PROD "
        docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_URL
        docker pull $REGISTRY_URL/$IMAGE_NAME:prod

        cd /apps/source_code
        docker compose -f docker-compose.prod.yml down
        docker compose -f docker-compose.prod.yml up -d
      "
  when: manual
  only:
    - main
