stages:
  - build
  - deploy_staging
  - deploy_prod

variables:
  IMAGE_NAME: "nuxt-app"

# ------------------------------- 
# BUILD & PUSH IMAGE
# -------------------------------
build_image:
  stage: build  
  script:
    - echo "$CI_REGISTRY_PASSWORD" | docker login $CI_REGISTRY -u "$CI_REGISTRY_USER" --password-stdin
    - docker build -t $CI_REGISTRY_IMAGE:staging -t $CI_REGISTRY_IMAGE:prod .
    - docker push $CI_REGISTRY_IMAGE:staging
    - docker push $CI_REGISTRY_IMAGE:prod 
  only:
    - main 

# -------------------------------
# DEPLOY TEMPLATE
# -------------------------------
.deploy_template: &deploy_template
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache sshpass docker-cli
  script:
    - sshpass -p "$SSH_PASSWORD" ssh -o StrictHostKeyChecking=no $SSH_USER@$SSH_HOST "
        docker login -u $REGISTRY_USER -p $REGISTRY_PASSWORD $REGISTRY_URL
        docker pull $REGISTRY_URL/$IMAGE_NAME:$DEPLOY_TAG

        cd /apps/source_code
        docker compose -f docker-compose.$DEPLOY_ENV.yml down
        docker compose -f docker-compose.$DEPLOY_ENV.yml up -d
      "
  only:
    - main

# DEPLOY STAGING
deploy_staging:
  <<: *deploy_template
  variables:
    SSH_USER: $SSH_USER_STAGING
    SSH_HOST: $SSH_HOST_STAGING
    SSH_PASSWORD: $SSH_PASSWORD_STAGING
    DEPLOY_TAG: staging
    DEPLOY_ENV: staging

# DEPLOY PRODUCTION
deploy_prod:
  <<: *deploy_template
  variables:
    SSH_USER: $SSH_USER_PROD
    SSH_HOST: $SSH_HOST_PROD
    SSH_PASSWORD: $SSH_PASSWORD_PROD
    DEPLOY_TAG: prod
    DEPLOY_ENV: prod
  when: manual