services:
  frontend:
    image: registry.my.net/myapp/frontend:latest
    container_name: frontend
    restart: always
    environment:
      NITRO_PORT: 3000
      NITRO_HOST: 0.0.0.0
    ports:
      - "3000:3000"
    networks:
      - nn

  nginx:
    image: nginx:latest
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/
    depends_on:
      - frontend
    networks:
      - nn

  mongo:
    image: mongo
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: wearesame
      MONGO_INITDB_ROOT_PASSWORD: eiei
    ports:
      - "27017:27017"
    volumes:
      - mongodata:/data/db
    networks:
      - nn

volumes:
  mongodata:

networks:
  nn:
    driver: bridge
